@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200&display=swap');
$bodyFont:  'Smooch Sans', sans-serif;
$blue01: #0f51f6;
$black01: rgb(8, 8, 8);
$white01: whitesmoke;
$back: linear-gradient(rgba(20, 19, 19, 0.5));

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: $bodyFont;
    color: $white01;
    font-size: 16px;
}
::-webkit-scrollbar{
    display: none;
}


main{
    background: $blue01;
}
header{
    background: $black01;
    color: $white01;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    border-bottom: 2px solid $white01;
    h2, h1{
        width: 20%;
        text-align: center;
    }
}
.mainView{
    padding: 50px 80px;
    text-align: center;

    .wrapper{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .groupFS{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            .tBox{
                margin: 0 20px;
                height: 80px;
                width: 80px;
                border: 3px solid $white01;
                border-radius: 50%;
                background: $back ;
                display: flex;
                align-items: center;
                justify-content: center;
                .outputNums{
                    font-size: 1.8rem;
                    text-shadow: 0 0 7px black;
                    box-shadow: 0 0 15px white;
                    background-color: rgba(255, 255, 255, 0.35);
                    height: 40px;
                    width: 40px;
                    padding: 3px;
                    border-radius: 50%;
                }
            }
        }

        .asideSix{
            flex-direction: column;
            .boxWrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .lBox{
                    margin: 8px 0;
                    height: 70px;
                    width: 70px;
                    border: 2px solid $white01;
                    border-radius: 50%;
                    background: $back ;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 3px;
                    font-size: 1.1rem;
                    .outputNums{
                        font-size: 1.6rem;
                        text-shadow: 0 0 7px black;
                        box-shadow: 0 0 15px white;
                        background-color: rgba(255, 255, 255, 0.35);
                        height: 35px;
                        width: 35px;
                        padding: 2px;
                        border-radius: 50%;
                    }
                }
                .amount{
                    color: rgba(0, 0, 0, 0.297);
                    transition: ease-in 0.4s;
                    padding: 15px;
                    font-size: 1.5rem;
                    margin: auto 0;
                }
            }
        }
    
        .centralView{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            .centralBox{
                margin: 60px 0;
                display: flex;
                justify-content: center;
                padding: 0 100px;
                .cBox{
                    height: 320px;
                    width: 320px;
                    border: 5px solid $white01;
                    border-radius: 50%;
                    font-size: 5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;     
                }
                .time{
                    padding: 5px;
                }
                .showNums{
                    text-shadow: 0 0 7px black;
                    box-shadow: 0 0 15px white;
                    background-color: rgba(255, 255, 255, 0.35);
                    height: 150px;
                    width: 150px;
                    border-radius: 50%;
                    padding: 15px;
                }
            }
            .bottomBox{
                display: flex;
                justify-content: space-around;
                .groupB{ 
                    padding: 0 65px;
                    align-items: flex-end;                  
                    .boxWrapper{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .bBox{
                            margin: 10px 0;
                            height: 70px;
                            width: 70px;
                            border: 2px solid $white01;
                            border-radius: 50%;
                            background: $back ;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 3px;
                            font-size: 1.1rem;
                            .outputNums{
                                font-size: 1.6rem;
                                text-shadow: 0 0 7px black;
                                box-shadow: 0 0 15px white;
                                background-color: rgba(255, 255, 255, 0.35);
                                height: 35px;
                                width: 35px;
                                padding: 2px;
                                border-radius: 50%;
                            }
                        }
                        .amount{
                            color: rgba(0, 0, 0, 0.297);
                            transition: ease-in 0.4s;
                            padding: 15px;
                            font-size: 1.5rem;
                            margin: auto 0;
                        }
                    }
                }
            }
        }
        
    }
    
}

footer{
    @extend header;
    width: 100%;
    border-bottom: none;
    border-top: 2px solid $white01;
    padding: 25px;
    font-size: 1.5rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
    h4{
        margin-top: 15px;
        letter-spacing: 2.5px;
    }
}