@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Smooch Sans", sans-serif;
  color: whitesmoke;
  font-size: 16px;
}

::-webkit-scrollbar {
  display: none;
}

main {
  background: #0f51f6;
}

header, footer {
  background: #080808;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 0;
  border-bottom: 2px solid whitesmoke;
}

header h2, footer h2, header h1, footer h1 {
  width: 20%;
  text-align: center;
}

.mainView {
  padding: 50px 80px;
  text-align: center;
}

.mainView .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainView .wrapper .groupFS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.mainView .wrapper .groupFS .tBox {
  margin: 0 20px;
  height: 80px;
  width: 80px;
  border: 3px solid whitesmoke;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 19, 19, 0.5)));
  background: linear-gradient(rgba(20, 19, 19, 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainView .wrapper .groupFS .tBox .outputNums {
  font-size: 1.8rem;
  text-shadow: 0 0 7px black;
  -webkit-box-shadow: 0 0 15px white;
          box-shadow: 0 0 15px white;
  background-color: rgba(255, 255, 255, 0.35);
  height: 40px;
  width: 40px;
  padding: 3px;
  border-radius: 50%;
}

.mainView .wrapper .asideSix {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainView .wrapper .asideSix .boxWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainView .wrapper .asideSix .boxWrapper .lBox {
  margin: 8px 0;
  height: 70px;
  width: 70px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 19, 19, 0.5)));
  background: linear-gradient(rgba(20, 19, 19, 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
  font-size: 1.1rem;
}

.mainView .wrapper .asideSix .boxWrapper .lBox .outputNums {
  font-size: 1.6rem;
  text-shadow: 0 0 7px black;
  -webkit-box-shadow: 0 0 15px white;
          box-shadow: 0 0 15px white;
  background-color: rgba(255, 255, 255, 0.35);
  height: 35px;
  width: 35px;
  padding: 2px;
  border-radius: 50%;
}

.mainView .wrapper .asideSix .boxWrapper .amount {
  color: rgba(0, 0, 0, 0.297);
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
  padding: 15px;
  font-size: 1.5rem;
  margin: auto 0;
}

.mainView .wrapper .centralView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainView .wrapper .centralView .centralBox {
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 100px;
}

.mainView .wrapper .centralView .centralBox .cBox {
  height: 320px;
  width: 320px;
  border: 5px solid whitesmoke;
  border-radius: 50%;
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainView .wrapper .centralView .centralBox .time {
  padding: 5px;
}

.mainView .wrapper .centralView .centralBox .showNums {
  text-shadow: 0 0 7px black;
  -webkit-box-shadow: 0 0 15px white;
          box-shadow: 0 0 15px white;
  background-color: rgba(255, 255, 255, 0.35);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 15px;
}

.mainView .wrapper .centralView .bottomBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainView .wrapper .centralView .bottomBox .groupB {
  padding: 0 65px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mainView .wrapper .centralView .bottomBox .groupB .boxWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainView .wrapper .centralView .bottomBox .groupB .boxWrapper .bBox {
  margin: 10px 0;
  height: 70px;
  width: 70px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 19, 19, 0.5)));
  background: linear-gradient(rgba(20, 19, 19, 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
  font-size: 1.1rem;
}

.mainView .wrapper .centralView .bottomBox .groupB .boxWrapper .bBox .outputNums {
  font-size: 1.6rem;
  text-shadow: 0 0 7px black;
  -webkit-box-shadow: 0 0 15px white;
          box-shadow: 0 0 15px white;
  background-color: rgba(255, 255, 255, 0.35);
  height: 35px;
  width: 35px;
  padding: 2px;
  border-radius: 50%;
}

.mainView .wrapper .centralView .bottomBox .groupB .boxWrapper .amount {
  color: rgba(0, 0, 0, 0.297);
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
  padding: 15px;
  font-size: 1.5rem;
  margin: auto 0;
}

footer {
  width: 100%;
  border-bottom: none;
  border-top: 2px solid whitesmoke;
  padding: 25px;
  font-size: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
}

footer h4 {
  margin-top: 15px;
  letter-spacing: 2.5px;
}
/*# sourceMappingURL=main.css.map */